/vendor/
/.env
/coverage/
/coverage.xml
/.phpunit.cache/
/.pest.cache/
/.pest/
/.php-cs-fixer.cache
/.rector.cache/
/.phpstan.cache/
/.idea/
/public/
/.snippet-build-*/
/.snippet-backup-*/
/.snippet-demo.*/
.DS_Store
